* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
b{
    font-weight: bold;
}

input,
button {
    font-family: inherit;
}

/*ol,*/
/*ul {*/
/*    list-style: none;*/
/*}*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font: 14px/1.5 Arial;
    color: #666;
}