@charset "utf-8";
@import "reset.css";

.layout {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

strong {
    color: #f60;
}

header {
    width: 100%;
    background: #3c3c3c;
    text-align: center;
    padding: 40px 0 10px 0;
    color: #fff;
}

header > h1 {
    font-size: 32px;
}

header > p {
    font-size: 18px;
    color: #aaa;
}

aside {
    width: 240px;
    border-right: 1px solid #ccc;
    position: relative;
    padding-top: 50px;
}

aside .avatar {
    text-align: center;
    position: absolute;
    top: -50px;
    width: 100%;
}

aside .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

aside > section {
    margin: 0 10px 0 20px;
}

section {
    border-bottom: 2px solid #ccc;
    padding: 20px 0 20px 0;

}

section h2 {
    color: #5c99ca;
    font-size: 16px;
}

section > .detail {
    margin-top: 14px;
}

.personal .item .degree {
    font-weight: bold;
}

.personal .item span:first-child {
    display: inline-block;
    width: 80px;
}

.personal .item span:nth-child(2)::before {
    content: ':';
    margin-right: 10px;
}

.contact .item a {
    display: flex;
    align-items: center;
    margin-left: -5px;
}

.contact svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.skills .item {
    display: flex;
    align-items: center;
}

.skills .keyword {
    width: 80px;

}

.skills .rule {
    flex: 1;
    height: 4px;
    background: #cccccc;
}

.skills .rule span {
    display: block;
    width: 40%;
    height: 4px;
    background: #000;
}

.link .item a {
    display: flex;
    align-items: center;
}

.link svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: -5px;
}

aside > section:last-child {
    border-bottom: none;
}

.blog {
    display: flex;
    flex-wrap: wrap;
}

.blog li {
    width: 100%;
    margin-left: 15px;
    margin-bottom: 2px;
}

.blog li a {
    margin-left: -2px;
}

main {
    /*width: 100px;*/
    flex: 1;
    min-height: calc(100vh - 110px);
}

main > section {
    margin: 0 10px 0 20px;
}

.aboutSkills li {
    margin-left: 15px;
}

.education > .university {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.education > .university h3 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.education > .university span {
    color: #aaa;
    padding-right: 2px;
}

.education > .profession {
    padding-top: 2px;
}

.project .head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
}

.project .head h3 {
    color: #000;
}

.project .head .projectLink {
    padding-right: 2px;
    color: #999;
    font-size: 15px;
}

.project .head .projectLink a {
    border-bottom: 1px solid #999;
}

.project .record {
    margin-top: 8px;
}

.project .markdown {
    color: #f60;
}

.project .record a {
    color: dodgerblue;
}

.accounting .img {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
}

.accounting .img > img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.openSource > p {
    margin-bottom: 14px;
}

.job > .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job .head time {
    color: #999;
}

.job .jobDescription {
    list-style: none;
    padding-top: 12px;
}

@media (max-width: 768px) {
    header {
        padding-top: 20px;
        height: 160px;
    }

    aside {
        width: 100%;
    }

    aside > section:last-child {
        border-bottom: 2px solid #ccc;
    }
}